<div class="page-header">
  <h1>
    New person
  </h1>
</div>

<h1>New person</h1>

<%= render 'form' %>


<div class="well example">
  <p>
    <strong>
      It should look like this:
    </strong>
  </p>

  <%= image_tag "new-person.png", class: "img-responsive" %>
</div>
